*{
    margin: 0;
    overflow: hidden;
}




#content{
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

#content section{
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh;
}


#intro{
    background-image: url('../pictures/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -12vh;
    background-color: black;
}

#logo-gif{
    width: 100%;
    height: 100%;
    animation: hide .75s ease forwards;
    animation-delay: 3s;
    position: fixed;
    z-index: 999;
}

@keyframes hide {
    0% {opacity: 1; visibility: visible;}
    100% {opacity: 0; visibility: hidden;}
}

#title{
    font-family: 'Earth Orbiter';
    font-weight: normal;
    font-size: 50px;
    color: rgb(0, 0, 0);
    position: fixed;
    margin: .75em;
}


.left-nav{
    position: fixed;
    top: 50vh;
    z-index: 10;
    
}

.left-nav-home{
    position: absolute;
    top: 50vh;
    z-index: 11;
}

.invert-text{
    color: white !important;
}

.invert-dots{
    background-color: black !important;
    border: 1px solid white !important;
}

.dots{
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 25px;
    display: block;
    margin: 10px auto;
    transition: .25s ease;
    cursor: pointer;
}

#nav-dots{
    width: 100%;
    height: 100%;
 
}

.selected{
    background-color: rgb(0, 0, 0) !important;
}

#current-position{
    font-family: 'Earth Orbiter';
    font-weight: normal;
    font-size: 22.5px;
    color: rgb(0, 0, 0);
    transform: rotate(-90deg);
    margin-bottom: 75px;
}