*{
    margin: 0;
}



#content{
  overflow-y: scroll;
  overflow-x: hidden;

  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

#content section{
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}


#intro{
    background-image: url('../pictures/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -12vh;
    background-color: black;
}

#logo-gif{
    width: 100%;
    height: 100%;
    animation: hide .75s ease forwards;
    animation-delay: 3s;
    position: fixed;
    z-index: 999;
}

@keyframes hide {
    0% {opacity: 1; visibility: visible;}
    100% {opacity: 0; visibility: hidden;}
}

#title{
    font-family: 'Earth Orbiter';
    font-weight: normal;
    font-size: 50px;
    color: rgb(0, 0, 0);
    position: fixed;
    margin: .75em;
}

#right-nav{
    position: fixed;
    top: 5vh;
    z-index: 10;
    right: 5vw;
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

#right-nav a{
    color: black;
    font-family: 'Gotham';
    font-size: 20px;
    padding: 15px;
    margin: 5px;
}

.bouton{
    border: 1px solid black;
    color: black;
}

.invert-bouton{
    border: 1px solid white;
    color: white !important;
}


#left-nav{
    position: fixed;
    top: 50vh;
    z-index: 10;
    left: 15px;
    width: 100px;
}

#left-nav-home{
    position: absolute;
    top: 50vh;
    z-index: 11;
}

.invert-text{
    color: white !important;
}

.invert-dots{
    background-color: black !important;
    border: 1px solid white !important;
}

.dots{
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 25px;
    display: block;
    margin: 10px auto;
    transition: .25s ease;
    cursor: pointer;
}

#nav-dots{
    width: 100%;
    height: 100%;
 
}

.selected{
    filter: invert(1);
    border: none !important;
    transition: .25s ease;

}

#current-position{
    font-family: 'Earth Orbiter';
    font-weight: normal;
    font-size: 22.5px;
    color: rgb(0, 0, 0);
    transform: rotate(-90deg);
    margin-bottom: 75px;
    white-space: nowrap;
}

p{
    font-family: 'GothamBook';
    font-size: 20px;
}


/* - - - - CONCEPT SECTION - - - - */

#number1{
    grid-column: 2;
    grid-row: 2 / 4;
    transform: translateX(8vw);
}

#number1 img{
    position: absolute;
    z-index: -1;
}

#number1 p{
    position: relative;
    transform: translate(20px, 50px);
}


#number2{
    grid-column: 2;
    grid-row: 4 / 6;
    transform: translateX(8vw);
}

#number2 img{
    position: absolute;
    z-index: -1;
}

#number2 p{
    position: relative;
    transform: translate(20px, 50px);
}

.number{
    font-size: 30px;
    text-align: center;
}

.number span{
    font-size: 70px;
    font-weight: bold;
    font-family: Roboto;
}

#concept1{
    grid-column: 4 / 6;
    grid-row: 3;
    width: 60%;
    transform: translate(10%, -20%);
    padding: 10px;
}

#concept2{
    grid-column: 4 / 6;
    grid-row: 4;
    width: 60%;
    transform: translate(10%, -20%);
    padding: 10px;

}

#concept3{
    grid-column: 4 / 6;
    grid-row: 5;
    width: 60%;
    transform: translate(10%, -20%);
    padding: 10px;

}

/* - - - - SOLUTION SECTION - - - - */

#solution p {
    padding: 25px;
    width: 50%;
}

.hightlight{
    position: relative;
}

.hightlight::before{
   content: "";
   color: transparent;
   background-color: #80DBDB;
   position: absolute;
   white-space: nowrap;
   z-index: -1;
}

#hl1::before{
    content: "Mini jeux";
    left: -20px;
    top: 10px;
}

#hl2::before{
    content: "Interface";
    left: 20px;
    top: 10px;
}

#hl3::before{
    content: "électromyographique";
    left: 50px;
    top: 10px;
}

#hl4::before{
    content: "où";
    left: -10px;
    top: -5px;
}

#hl5::before{
    content: "quand";
    left: -5px;
    top: 10px;
}

#solution img{
    width: 85px;
    height: 85px;
}

#solution1{
    grid-column: 2 / 4;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateX(20%);
}

#solution2{
    grid-column: 4 / 6;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateX(20%);

}

#solution3{
    grid-column: 2 / 4;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateX(20%);

}

#solution4{
    grid-column: 4 / 6;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateX(20%);

}

/* - - - - SOLUTION SECTION - - - - */
