@font-face {
    font-family: 'Earth Orbiter';
    src: url('EarthOrbiter.woff2') format('woff2'),
        url('EarthOrbiter.woff') format('woff'),
        url('EarthOrbiter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Medium.woff2') format('woff2'),
        url('Gotham-Medium.woff') format('woff'),
        url('Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Book.woff2') format('woff2'),
        url('Gotham-Book.woff') format('woff'),
        url('Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

